@use "navbar";
@use "banner";
@use "discount";
@use "shopping";
//default makeup

#root{
  // min-width: fit-content;
  // min-height: fit-content;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-size: 24px;
  *{
    box-sizing: border-box;
  }
}

section{
  padding: 3rem 0;
}